@use 'typography' as t;
@use 'mixins' as m;
@use 'variables' as v;

$progress-bar-gap: 20px;

.featured {
  margin-bottom: v.$slice-pad-md;
}

.container {
  @include m.container;
}

.wrapper {
  clip-path: polygon(0% 50%, 100% 50%, 100% 50%, 0% 50%);
  height: 0;
  padding-bottom: calc(56.65% + $progress-bar-gap);
  position: relative;
  transform: skewY(-5deg) translateZ(0);
  width: 100%;

  &::after {
    background-color: v.$white;
    bottom: 0;
    content: '';
    height: $progress-bar-gap;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  video {
    background-color: #ccc;
    height: 100%;
    position: absolute;
    transform: skewY(5deg) scale(1.2);
    width: 100%;
    z-index: 1;
  }

  progress {
    z-index: 3;
  }
}

.header {
  @include t.body-sm;

  align-items: center;
  background-color: v.$black;
  color: v.$white;
  display: inline-flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 3px 10px;
  position: relative;
  width: 100%;
  z-index: 2;

  @include m.breakpoint(v.$md) {
    padding: 5px 10px;
  }
}

.cta {
  font-size: 12px !important;

  @include m.breakpoint(v.$md) {
    font-size: 14px !important;
  }

  svg {
    margin: 0;
  }
}
