@use 'variables' as v;
@use 'mixins' as m;
@use 'typography' as t;

.video {
  cursor: url('/images/icon-pause.png'), auto;
  position: unset;

  &.muted {
    cursor: url('/images/icon-rewind.png'), auto;
  }

  &.paused {
    cursor: url('/images/icon-play.png'), auto;
  }

  &.noControls {
    cursor: auto;
  }

  video {
    height: 100%;
    left: 0;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
