@use 'typography' as t;
@use 'mixins' as m;
@use 'variables' as v;

.item {
  cursor: pointer;
  padding: v.$gutter 0;
  position: relative;
  transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  &.active {
    cursor: auto;
  }

  &:first-child {
    padding-top: 0;
  }
}

.overlay {
  background-color: v.$white;
  height: 100%;
  left: 0;
  opacity: 0.7;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 0.3s ease;
  width: 100%;
  z-index: 2;

  .active & {
    opacity: 0;
  }
}

.title {
  margin-bottom: 15px;

  h1 {
    @include t.headline1;
  }
}

.description {
  @include t.body-sm;

  a {
    @include m.highlight;
  }
}

.grid {
  align-items: flex-end;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.details {
  background-color: v.$white;
  height: 0;
  overflow: hidden;
  position: relative;
  transform: translateZ(0);
  transition: height 0.3s 0.5s ease;
  will-change: height;
  z-index: 3;

  &.active {
    height: 300px;
  }
}

.tag {
  background-color: v.$sunny;
  margin-bottom: v.$grid-gap;
  padding: 10px;
}

.tags {
  position: absolute;
  transform: translateX(-100%);
}

.image {
  background-color: #eee;
  border-radius: 5px;
  grid-column: 1 / -1;
  height: 300px;
  margin-bottom: v.$grid-gap;

  @include m.breakpoint(v.$md) {
    grid-column: span 6;
    height: 100%;
  }
}

.meta {
  border-radius: 5px;
  grid-column: 1 / -1;
  height: 100%;

  @include m.breakpoint(v.$md) {
    grid-column: 7 / span 4;
  }
}

.categories {
  align-items: center;
  display: flex;
  margin-bottom: 11px;
}

.category {
  @include m.button(
    $bg: v.$black-alt,
    $color: v.$white,
    $hover-bg: v.$black-alt
  );
}

.data {
  @include t.body-mono;

  font-size: 12px !important;
  height: 100%;
  margin-bottom: 15px;

  @include m.breakpoint(v.$md) {
    max-width: 200px;
  }

  > * {
    font-weight: 300;
    margin-bottom: 10px;

    strong {
      font-weight: 700;
    }
  }
}

.cta {
  align-items: center;
  display: inline-flex;
  height: auto !important;

  svg {
    width: 18px;
  }
}

.metaWrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.categoriesWrap {
  margin-bottom: 23px;
}
