@use 'typography' as t;
@use 'mixins' as m;
@use 'variables' as v;

.item {
  padding: v.$gutter 0;
  position: relative;
  scroll-snap-align: center;
  transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  &:first-child {
    padding-top: 0;
  }

  &:hover {
    .overlay {
      opacity: 0;
    }
  }
}

.title {
  margin-bottom: 15px;

  h1 {
    @include t.headline1;
  }
}

.description {
  @include t.body-sm;
}

.tag {
  background-color: v.$sunny;
  margin-bottom: v.$grid-gap;
  padding: 10px;
}

.tags {
  position: absolute;
  transform: translateX(-100%);
}
