@use 'variables' as v;
@use 'mixins' as m;
@use 'typography' as t;

/* stylelint-disable-next-line scss/dollar-variable-pattern */
$tagSize: 30px;
$bg-contrast: darken(v.$sunny, 45%);

.flag {
  @include t.link;

  align-items: center;
  background-color: v.$sunny;
  display: flex;
  font-size: 18px !important;
  height: $tagSize;
  justify-content: center;
  letter-spacing: -0.5px !important;
  padding: 5px $tagSize 5px 25px;
  position: sticky;
  top: 50vh;
  transform: skewY(-5deg) translateY(5px) translateZ(0);
  will-change: transform;
  z-index: v.$z-2;

  &::after {
    border-bottom: $tagSize / 2 solid transparent;
    border-left: $tagSize / 2 solid v.$sunny;
    border-top: $tagSize / 2 solid transparent;
    content: '';
    height: 0;
    position: absolute;
    right: 1px; // 1px gap adjustment
    top: 0;
    transform: translateX(100%);
    width: 0;
  }
}
