@use 'variables' as v;
@use 'mixins' as m;
@use 'typography' as t;
@use 'animations' as a;

.buttonIcon {
  &:hover {
    .cube {
      &::before {
        background-color: v.$sunny;
      }
    }
  }
}

.box {
  height: 25px;
  pointer-events: none;
  position: relative;
  transform: rotateZ(90deg);
  transition: opacity 0.3s ease;
  width: 25px;
  z-index: 2;

  &::before {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAAB9JREFUGFdjZEAF/xmR+P8ZGBgYYQJgDkgSRMA5IAEAgq4EBI6THD4AAAAASUVORK5CYII=')
      repeat;
    clip-path: inset(100% 0 0 0);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    .active & {
      animation: background-move 1s linear forwards infinite,
        background-clip 0.7s 0.5s ease forwards 1;
    }
  }
}

.cube {
  float: left;
  height: 50%;
  position: relative;
  transform: scale(1.1) rotateZ(0deg);
  width: 50%;

  &::before {
    background-color: v.$white;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform-origin: 100% 100%;
    width: 100%;

    .active & {
      @include a.animate(
        $animation: fold,
        $duration: 2.4s,
        $timing: both,
        $iteration: 1
      );
    }
  }

  &.cube1 {
    &::before {
      animation-delay: 0.7s;
    }
  }

  &.cube2 {
    transform: scale(1.1) rotateZ(90deg);

    &::before {
      animation-delay: 0.9s;
    }
  }

  &.cube3 {
    transform: scale(1.1) rotateZ(180deg);

    &::before {
      animation-delay: 1.2s;
    }
  }

  &.cube4 {
    transform: scale(1.1) rotateZ(270deg);

    &::before {
      animation-delay: 1.4s;
    }
  }
}

.checkmark {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 2;
}

.cross {
  opacity: 0;

  .active & {
    @include a.animate(
      $animation: blink,
      $duration: 0.4s,
      $delay: 2.3s,
      $iteration: 1
    );
  }
}

.tooltip {
  background-color: v.$white;
  margin-left: -10px;
  margin-top: -1px;
  max-height: 200px;
  min-width: 175px;
  opacity: 0;
  overflow: auto;
  padding: 6px 10px;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translateX(-95%);
  transition: opacity 0.3s ease, transform 0.3s ease;

  &.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-100%);
  }
}
