@use 'variables' as v;

@mixin breakpoint($minimum) {
  @media (min-width: $minimum) {
    @content;
  }
}

@mixin font(
  $font-family: v.$font-family,
  $font-weight: normal,
  $font-size: (
    sm: 16px,
    md: 16px,
    lg: 16px,
  ),
  $letter-spacing: (
    sm: 0,
    md: 0,
    lg: 0,
  ),
  $line-height: (
    sm: 1.2,
    md: 1.2,
    lg: 1.2,
  )
) {
  font-family: $font-family;
  font-size: map-get($font-size, sm);
  font-weight: $font-weight;
  letter-spacing: map-get($letter-spacing, sm);
  line-height: map-get($line-height, sm);

  @each $key, $breakpoint in v.$breakpoints {
    @include breakpoint($breakpoint) {
      font-size: map-get($font-size, $key);
      letter-spacing: map-get($letter-spacing, $key);
      line-height: map-get($line-height, $key);
    }
  }
}

// Centered container with a max-width and gutters on both sides
@mixin container {
  margin-left: auto;
  margin-right: auto;
  max-width: v.$max-width + 2 * v.$gutter;
  padding-left: v.$gutter;
  padding-right: v.$gutter;

  @include breakpoint(v.$md) {
    max-width: v.$max-width + 2 * v.$gutter-md;
    padding-left: v.$gutter-md;
    padding-right: v.$gutter-md;
  }
}

@mixin hover {
  @media (hover: hover) {
    @content;
  }
}

@mixin slice {
  padding-bottom: v.$slice-pad;
  padding-top: v.$slice-pad;

  @include breakpoint(v.$md) {
    padding-bottom: v.$slice-pad-md;
    padding-top: v.$slice-pad-md;
  }
}

@mixin remove-list-formatting {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin button-reset {
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 0;
  color: inherit;
  font: inherit;
  line-height: 1;
  margin: 0;
  overflow: visible;
  padding: 0;
  width: auto;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

@mixin button(
  $bg: v.$sunny,
  $color: v.$black,
  $hover-bg: v.$prismic-purple,
  $hover-color: v.$white
) {
  align-items: center;
  background-color: $bg;
  box-shadow: -8px 8px 0 v.$sunny-alt;
  color: $color;
  cursor: pointer;
  display: flex;
  font-family: v.$font-headline;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  height: 100%;
  justify-content: center;
  left: 0;
  line-height: normal;
  margin-left: 10px;
  margin-top: 0;
  padding: 3px 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  transition: box-shadow 0.05s, top 0.05s, left 0.05s;
  white-space: nowrap;

  @include breakpoint(v.$md) {
    &:hover,
    &:focus {
      background-color: v.$black;
      color: v.$white;

      &::before {
        background-color: v.$black;
      }

      &::after {
        background-color: v.$black;
      }
    }
  }

  &::after {
    background-color: v.$sunny-alt;
    content: '';
    height: 12px;
    left: -6px;
    position: absolute;
    top: 1px;
    transform: rotate(45deg);
    transition: top 0.05s, left 0.05s;
    width: 12px;
    z-index: -1;
  }

  &::before {
    background-color: v.$sunny-alt;
    bottom: -6px;
    content: '';
    height: 12px;
    position: absolute;
    right: 1px;
    transform: rotate(45deg);
    transition: bottom 0.05s, right 0.05s;
    width: 12px;
    z-index: -1;
  }

  &:hover,
  &:focus {
    box-shadow: -8px 8px 0 v.$black;
    text-decoration: none;
    transition: box-shadow 0s;
  }

  &:active {
    box-shadow: 0 0 0 v.$black;
    left: -8px;
    text-decoration: none;
    top: 8px;
    transition: box-shadow 0.05s, top 0.05s, left 0.05s;

    &::before {
      bottom: 12px;
      right: 12px;
    }

    &::after {
      left: 12px;
      top: 12px;
    }
  }
}
