// You may ultimately want to replace this file
// with multiple files for each type style.
// The below is just an example of how you could
// create a mixin called `title` that utilizes
// the font mixin

@use 'mixins' as m;
@use 'variables' as v;

@mixin shadow-text {
  @include m.font(
    $font-family: v.$font-display,
    $font-size: (
      sm: 300px,
      md: 300px,
      lg: 300px,
    ),
    $line-height: (
      sm: 1,
      md: 1,
      lg: 1,
    ),
    $letter-spacing: (
      sm: normal,
      md: normal,
      lg: normal,
    )
  );

  color: v.$white;
  transform: skewY(-5deg);
  transform-origin: top left;
}

@mixin headline1 {
  @include m.font(
    $font-family: v.$font-headline,
    $font-weight: 700,
    $font-size: (
      sm: 25px,
      md: 30px,
      lg: 40px,
    ),
    $line-height: (
      sm: 1,
      md: 1,
      lg: 1,
    ),
    $letter-spacing: (
      sm: normal,
      md: normal,
      lg: normal,
    )
  );
}

@mixin body-lg {
  @include m.font(
    $font-family: v.$font-primary,
    $font-weight: 300,
    $font-size: (
      sm: 18px,
      md: 22px,
      lg: 25px,
    ),
    $line-height: (
      sm: 1.4,
      md: 1.4,
      lg: 1.4,
    ),
    $letter-spacing: (
      sm: 0.75px,
      md: 0.75px,
      lg: 0.75px,
    )
  );
}

@mixin body-sm {
  @include m.font(
    $font-family: v.$font-primary,
    $font-weight: 300,
    $font-size: (
      sm: 16px,
      md: 16px,
      lg: 18px,
    ),
    $line-height: (
      sm: 1.5,
      md: 1.5,
      lg: 1.5,
    ),
    $letter-spacing: (
      sm: 0.75px,
      md: 0.75px,
      lg: 0.75px,
    )
  );
}

@mixin link {
  @include m.font(
    $font-family: v.$font-headline,
    $font-weight: 700,
    $font-size: (
      sm: 16px,
      md: 16px,
      lg: 16px,
    ),
    $line-height: (
      sm: 1.5,
      md: 1.5,
      lg: 1.5,
    ),
    $letter-spacing: (
      sm: 0.75px,
      md: 0.75px,
      lg: 0.75px,
    )
  );
}
