@use 'variables' as v;
@use 'mixins' as m;

html {
  background-color: v.$sunny;
  font-family: v.$font-primary;
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility;
}

body {
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

// Dont show focus outline until tabbed
:focus:not(:focus-visible) {
  outline: none;
}

::selection {
  background-color: v.$sunny;
  -webkit-tap-highlight-color: rgba(255, 232, 131, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
}

input {
  background: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 0;
  color: inherit;
  font: inherit;
  line-height: 1;
  margin: 0;
  overflow: visible;
  padding: 0;
  width: auto;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

#nprogress {
  .bar {
    background-color: v.$black;
    z-index: v.$z-1;
  }

  .spinner {
    z-index: v.$z-1;
  }

  .spinner-icon {
    border-left-color: v.$black;
    border-top-color: v.$black;
  }
}

p {
  margin: 0;

  + p {
    margin-top: 1em;
  }
}

img,
svg {
  max-height: 100%;
  max-width: 100%;
}

// Reset sup elements to match div instead
sup {
  display: block;
  font-size: 100%;
  line-height: 1;
  top: auto;
}
