@use 'typography' as t;
@use 'mixins' as m;
@use 'variables' as v;

.projectList {
  padding: 50px 0;
  width: 100%;
}

.container {
  @include m.container;
}

.marker {
  display: none;
  grid-column: 1 / span 1;
  position: relative;

  @include m.breakpoint(v.$md) {
    display: flex;
    grid-column: 1 / span 1;
  }

  &::after {
    background-color: v.$black;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    width: 1px;
    z-index: 1;
  }
}

.grid {
  grid-gap: 0;

  @include m.breakpoint(v.$md) {
    grid-gap: 20px;
  }
}

.projects {
  grid-column: 1 / -1;

  @include m.breakpoint(v.$md) {
    grid-column: 2 / span 11;
    padding-left: 20px;
  }
}
